{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css">

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"</script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"</script>
    <script type="text/javascript">

				$(document).ready(function () {
		$('#example').DataTable({
		language: {
		processing: "Traitement en cours...",
		search: "Rechercher&nbsp;:",
		lengthMenu: "Afficher MENU &eacute;l&eacute;ments",
		info: "Affichage de l'&eacute;lement START &agrave; END sur TOTAL &eacute;l&eacute;ments",
		infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
		infoFiltered: "(filtr&eacute; de MAX &eacute;l&eacute;ments au total)",
		infoPostFix: "",
		loadingRecords: "Chargement en cours...",
		zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
		emptyTable: "Aucune donnée disponible dans le tableau",
		paginate: {
		first: "Premier",
		previous: "Pr&eacute;c&eacute;dent",
		next: "Suivant",
		last: "Dernier"
		},
		aria: {
		sortAscending: ": activer pour trier la colonne par ordre croissant",
		sortDescending: ": activer pour trier la colonne par ordre décroissant"
		}
		}
		});
		});
    </script>
{% endblock %}

 {# {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.getEmail() }}, <a href="{{ path('app_logout') }}">Logout</a><br>
        </div>
		{# <img style="Width: 4em" src="{{ asset('uploads' ~ app.user.getAvatar()) }}" alt="avatar">, #}
    {# {% endif %} #} 

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	
    <h1>Les tâches !</h1>
	<a href="{{ path('task_create')}}"><button type="button" class="btn btn-info">Ajouter</button></a><br><br>
	<a href="{{ path('app_logout')}}"><button type="button" class="btn btn-danger">Se déconnecter</button></a><br><br>
	<table id="example"class="table">
		<thead>
			<tr>
				<th scope="col">Date de création</th>
				<th scope="col">Date due</th>
				<th scope="col">Nom de tâche</th>
				<th scope="col">Catégorie</th>
				<th scope="col">Priorité</th>
				<th scope="col">Editer</th>
				<th scope="col">Supprimer</th><br>
				
			</tr>
		</thead>


		<tbody>

	{% for task in tasks %}
	<tr>
		<td>{{ task.getCreatedDateTask().format('Y-m-d H:i') }}</td>
		<td>{{ task.getDueDateTask().format('Y-m-d H:i') }}</td>
		<td>{{ task.getNameTask() }}</td>
		<td>{{ task.getCategory().getLibelleCategory() }}</td>
		<td>{{ task.getPriorityTask() }}</td>
		<td><a href="{{ path('task_edit', {'id': task.getIdTask()} )}}"><button class="btn btn-success" >Editer</button></a></td>
		<td><a href="{{ path('task_delete', {'id': task.getIdTask()} )}}"><button type="button" class="btn btn-danger">Supprimer</button></a></td>
	</tr>
		
	{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}
